<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/">{{ .Site.Title }}</a></h1>
      <p class="lead">
      {{ .Site.Params.Description }}
      </p>
    </div>
	
    <ul class="sidebar-nav">
	  <li><a href="/">Accueil</a> </li>
	  <li><a href="/mission">Détail de la mission</a> </li>
	  <li><a href="/articles">Articles</a> </li>
    </ul>

<ul id="all-tags">
  {{ range $name, $taxonomy := .Site.Taxonomies.rubriques }}
    <li><a href="/Rubriques/{{ $name | urlize }}">{{ $name }}</a></li>  
  {{ end }}
</ul>

    <p>{{ with .Site.Params.Copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}} Sophie B. {{end}}</p>
  </div>
</div>
