{{ template "theme/chrome/head.html" . }}
<body class="layout-reverse">

{{ template "theme/chrome/sidebar.html" . }}
    <div class="content container">
<div class="post">
  <h1>{{ .Title }}</h1>
  <span class="post-date"> {{.Date.Format "2 Jan 2006"}}</span>
      {{ .Content }}
</div>
  <div>
        {{ if .Prev }}
          <a class="previous" href="{{.Prev.Permalink}}"> {{.Prev.Title}} &lt;&lt; </a>
        {{ end }}
        {{ if .Next }}
          <a class="next" href="{{.Next.Permalink}}"> &gt;&gt; {{.Next.Title}}</a>
        {{ end }}
    </div>
   <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'infosofbentog'; // required: replace example with your forum shortname
		var disqus_url = 'http://infosofbentog.github.io/';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

</div>

  </body>
</html>
